<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Code Editor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.3/codemirror.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/3024-day.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/3024-night.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/abbott.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/abcdef.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/ambiance.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/ayu-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/ayu-mirage.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/base16-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/base16-light.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/bespin.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/blackboard.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/cobalt.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/colorforth.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/darcula.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/dracula.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/duotone-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/duotone-light.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/eclipse.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/elegant.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/erlang-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/gruvbox-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/hopscotch.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/icecoder.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/idea.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/isotope.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/lesser-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/liquibyte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/lucario.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/material.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/material-darker.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/material-palenight.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/material-ocean.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/mbo.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/mdn-like.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/midnight.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/monokai.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/moxer.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/neat.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/neo.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/night.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/nord.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/oceanic-next.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/panda-syntax.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/paraiso-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/paraiso-light.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/pastel-on-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/railscasts.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/rubyblue.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/seti.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/shadowfox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/solarized.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/ssms.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/the-matrix.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/tomorrow-night-bright.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/tomorrow-night-eighties.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/ttcn.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/twilight.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/vibrant-ink.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/xq-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/xq-light.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/yeti.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.13/theme/zenburn.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.min.css" rel="stylesheet" />




    <style>
        body {

            background-color: #4c4f60;
            color: #f8f8f2;
            display: flex;
            flex-direction: column;
            height: 100vh;
            max-width: 100%;
            font-family: "Ubuntu", sans-serif;
            font-weight: 300;
            font-style: normal;
        }

        .row {
            max-width: 100%;
        }

        h1 {
            margin-bottom: 10px;
        }

        h5 {
            margin-bottom: 20px;
        }

        #editor {
            width: 800px;
            min-width: 800px;
            /* Fixed width for the editor */
            height: auto;
            /* Height will adjust automatically */
            border: 1px solid #44475a;
            background-color: #44475a;
            /* Background color */
        }

        #run-code {
            background-color: #50fa7b;
            color: #282a36;
            font-weight: bold;
            cursor: pointer;
        }

        .output-container {
            width: 100%;
            /* min-height: 50px; */
            /* Consistent width with editor */
            margin-top: 20px;
            /* Space between button and output */
            border: 1px solid #6272a4;
            border-radius: 5px;
            /* Rounded corners */
            background-color: #44475a;
            /* Background color */
            padding: 10px;
        }

        .output-header {
            font-weight: bold;
            color: #f6f6f6;
            /* Highlighted color for user */
            margin-bottom: 10px;
            /* Space between header and output */
        }

        .output {
            color: #f8f8f2;
            /* Default text color */
            white-space: pre-wrap;
            /* Preserve whitespace and line breaks */
            /* overflow-y: auto; */
            /* Enable vertical scrolling */
            /* max-height: 200px; */
            /* Limit output height */
            padding: 15px;
            /* Padding around output text */
            border: 1px solid #6272a4;
            /* Border for the output */
            border-radius: 3px;
            /* Rounded corners for output */
            background-color: #282a36;
            /* Background color for output */
        }

        .code-editor {
            margin: auto;
        }

        #run-code {
            background-color: #4ecdd1;
        }
    </style>
    <style>
        .people-list-container {
            background-color: #191a29;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 15px;
            margin-bottom: 20px;
            max-width: 250px;
        }

        .file-list-container {
            background-color: #191a29;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 15px;
            margin-bottom: 20px;
            /* max-width: 250px; */
        }

        .people-list-container h3,
        .file-list-container h3 {
            font-size: 1.2em;
            margin-bottom: 15px;
            color: #4ecdd1;
        }

        .participants-list {
            padding: 0;
        }

        .participants-list li {
            display: flex;
            /* justify-content:space-around; */
            align-items: center;
            padding: 10px;
            /* border-bottom: 1px solid #282828; */
            transition: background-color 0.3s;
        }

        .participants-list li:hover {
            background-color: #282a36;
        }

        .participants-list li span {
            font-size: 1.1em;
            color: #ffffff;
            opacity: .6;
        }

        .participants-list li i {
            color: #4ecdd1;
            font-size: 1.2em;
        }

        .now-coding {
            display: block;
            font-size: .8rem;
        }

        .j {
            display: none;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark  p-3">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button data-mdb-collapse-init class="navbar-toggler" type="button"
                data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="/">
                    <i class="fa-solid fa-code"></i>
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Projects</a>
                    </li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->

            <!-- Right elements -->
            <div class="d-flex align-items-center">
                <!-- Icon -->
                {% if request.user.is_authenticated %}
                Hello {{userprofile.user.username}}! &nbsp;&nbsp;
                {% else %}
                <a data-mdb-ripple-init type="button" href="{% url 'login' %}" class="btn btn-link px-3 me-2">
                    Login
                </a>
                <button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
                    Sign up for free
                </button>
                {% endif %}
                <!-- Notifications -->
                <div class="dropdown">
                    <a data-mdb-dropdown-init class="link-secondary me-3 dropdown-toggle hidden-arrow" href="#"
                        id="navbarDropdownMenuLink" role="button" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                        <span class="badge rounded-pill badge-notification bg-danger">0</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="#">Some news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Another news</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </li>
                    </ul>
                </div>
                <!-- Avatar -->
                <div class="dropdown">
                    <a data-mdb-dropdown-init class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                        id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                        {% if userprofile %}
                        <img src="{{userprofile.imageURL}}" class="rounded-circle" height="35"
                            alt="Black and White Portrait of a Man" loading="lazy" />
                        {% else %}
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTY4lzrMEr0amU3ubAgMpsMXUw5kqMqHrylBNDQi82fS6QYpEC0TaE0FxSYhYmHGL4RGOU&usqp=CAU"
                            class="rounded-circle" height="25" alt="" loading="lazy" />
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                        <li>
                            <a class="dropdown-item" href="#">My profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Settings</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li>
                            <a class="dropdown-item" href="{% url 'login' %}">login</a>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
            <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>


    <!-- <hr color="#fff"> -->

    <div class="row mt-3">
        <div class="col-lg-1 col-md-2 col-2 p-3">
            <div class="people-list-container p-3">
                <h3 class="text-center"><i class="fas fa-users"></i> <span
                        style="color: #ffffff; opacity: .8; font-size: .8rem;">Member</span></h3>


                <!-- <button class="btn btn-primary">Invite Friends</button> -->
                <ul class="participants-list" style="list-style: none;">
                    {% for user in channel.participants.all %}
                    <li>
                        <span style="font-size: 1rem;" class="d-flex">
                            <span class="j" id="{{user.username}}">
                                <i class="fa-solid fa-terminal" style="font-size: .8rem; color: #50fa7b;"></i>
                            </span>
                            <span>
                                {{user.username}}
                            </span>


                            <!-- {% if request.user == user %}
                            <span style="opacity: .4; font-size: .6rem;"> (you)</span>
                            {% endif %} -->
                            <!-- &nbsp; -->
                        </span>
                        <!-- <i class="fa-solid fa-code"></i> -->
                    </li>
                    {% endfor %}
                    <li>
                        <!-- <span id="x" class="" style="font-size: .8rem;"></span> -->
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-9 col-md-10 col-10">
            <div class="code-editor">
                <!-- <h6 style=" color: #dbdbdb;">
                    Channel - <span style="opacity: .8;">{{channel.name}}</span>
                    Invitation link: http://127.0.0.1:8000/join-channel/1/
                </h6> -->
                <div class="my-2">
                    <button id="run-code" class="btn" data-executed="{{request.user}}">RUN</button>
                    <button id="save-code" class="btn btn-warning ml-2"><i
                            class="fa-regular fa-floppy-disk"></i></button>
                    <select id="theme-selector" style="padding:7px; border-radius: 5px;">
                        <option value="default">Default Theme</option>
                        <option value="3024-day">3024 Day</option>
                        <option value="3024-night">3024 Night</option>
                        <option value="abbott">Abbott</option>
                        <option value="abcdef">ABCDEF</option>
                        <option value="ambiance">Ambiance</option>
                        <option value="ayu-dark">Ayu Dark</option>
                        <option value="ayu-mirage">Ayu Mirage</option>
                        <option value="base16-dark">Base16 Dark</option>
                        <option value="base16-light">Base16 Light</option>
                        <option value="bespin">Bespin</option>
                        <option value="blackboard">Blackboard</option>
                        <option value="cobalt">Cobalt</option>
                        <option value="colorforth">Colorforth</option>
                        <option value="darcula">Darcula</option>
                        <option value="dracula">Dracula</option>
                        <option value="duotone-dark">Duotone Dark</option>
                        <option value="duotone-light">Duotone Light</option>
                        <option value="eclipse">Eclipse</option>
                        <option value="elegant">Elegant</option>
                        <option value="erlang-dark">Erlang Dark</option>
                        <option value="gruvbox-dark">Gruvbox Dark</option>
                        <option value="hopscotch">Hopscotch</option>
                        <option value="icecoder">Icecoder</option>
                        <option value="idea">IDEA</option>
                        <option value="isotope">Isotope</option>
                        <option value="lesser-dark">Lesser Dark</option>
                        <option value="liquibyte">Liquibyte</option>
                        <option value="lucario">Lucario</option>
                        <option value="material">Material</option>
                        <option value="material-darker">Material Darker</option>
                        <option value="material-palenight">Material Palenight</option>
                        <option value="material-ocean">Material Ocean</option>
                        <option value="mbo">MBO</option>
                        <option value="mdn-like">MDN Like</option>
                        <option value="midnight">Midnight</option>
                        <option value="monokai">Monokai</option>
                        <option value="moxer">Moxer</option>
                        <option value="neat">Neat</option>
                        <option value="neo">Neo</option>
                        <option value="night">Night</option>
                        <option value="nord">Nord</option>
                        <option value="oceanic-next">Oceanic Next</option>
                        <option value="panda-syntax">Panda Syntax</option>
                        <option value="paraiso-dark">Paraiso Dark</option>
                        <option value="paraiso-light">Paraiso Light</option>
                        <option value="pastel-on-dark">Pastel on Dark</option>
                        <option value="railscasts">Railscasts</option>
                        <option value="rubyblue">Rubyblue</option>
                        <option value="seti">Seti</option>
                        <option value="shadowfox">Shadowfox</option>
                        <option value="solarized dark">Solarized Dark</option>
                        <option value="solarized light">Solarized Light</option>
                        <option value="ssms">SSMS</option>
                        <option value="the-matrix">The Matrix</option>
                        <option value="tomorrow-night-bright">Tomorrow Night Bright</option>
                        <option value="tomorrow-night-eighties">Tomorrow Night Eighties</option>
                        <option value="ttcn">TTCN</option>
                        <option value="twilight">Twilight</option>
                        <option value="vibrant-ink">Vibrant Ink</option>
                        <option value="xq-dark">XQ Dark</option>
                        <option value="xq-light">XQ Light</option>
                        <option value="yeti">Yeti</option>
                        <option value="zenburn">Zenburn</option>
                    </select>

                    <a class="btn btn-outline-info" data-mdb-collapse-init href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa-solid fa-share-nodes"></i>
                    </a>
                    <span class="collapse" id="collapseExample" style="cursor: text;">
                        <a class="p-2 bg-light" href="{{url}}">{{url}}</a>
                    </span>
                </div>
                <form id="codeForm" method="POST" action="{% url 'save_code' %}">
                    <textarea id="editor" data-user="{{request.user}}"></textarea>
                    {% csrf_token %}
                    <input type="hidden" name="code" id="codeInput">
                    <input type="hidden" name="channel_id" value="{{channel.id}}">
                    <input type="hidden" name="file_id" id="coe_file_input" value="">
                </form>




                <div id="output-container" class="output-container">

                    <div class="row">
                        <div class="col-lg-8">
                            <div id="output-header" class="output-header">
                                <span id="executed-by">Output</span>
                            </div>
                            <div id="output" class="output"></div>
                        </div>
                        <div class="col-lg-4">
                            <div id="output-header" class="output-header">
                                <span>Input <span style="opacity: .7; font-size: .8rem;">if you have any in your
                                        code</span> </span>
                            </div>
                            <div>
                                <style>
                                    .inputs {
                                        border: none;
                                        background: #282a36;
                                        color: #f6f6f6;
                                    }

                                    /* .inputs:focus{
                                        border:2px solid black;
                                        background-color: red;
                                    } */
                                </style>
                                <textarea id="inputs" class="inputs" id="" placeholder="Enter your input here" cols="40"
                                    rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-lg-2 col-md-0 col-0">
            <div class="file-list-container">
                <h3><i class="fa-solid fa-folder"></i>&nbsp;<span style="color: #ffffff; opacity: .8;">
                        <span style="font-size: .8rem; opacity: .8;">You can load this in editor</span> </span>
                </h3>
                <ul class="participants-list" style="list-style: none;">
                    {% for channels_file in channels_files %}
                    <li>
                        <button class="btn file-button" data-content="{{ channels_file.file }}"
                            data-file_id="{{channels_file.id}}" style="color: #f8f8f2; background: #44475a;">
                            <i class="fa-solid fa-file"></i>
                            &nbsp;
                            <span style="opacity: .8;">
                                {% if channels_file.file_name %}
                                {{channels_file.file_name}}
                                {% else %}
                                {{ channels_file }}
                                {% endif %}
                                <!-- <span style="background-color: #fff; padding-left: 5px;padding-right: 5px; border-radius: 3px;">
                                      <a href="" style=" cursor:text; z-index: 9;"><img src="{% static 'editor/icons/rename.png' %}" height="20" width="20" alt="icons"></a>  
                                    </span> -->
                                <br>
                                <span style="font-size: .5rem;">{{channels_file.date|timesince}} ago</span>
                            </span>
                        </button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.3/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.3/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.3/mode/javascript/javascript.min.js"></script>


    <script>

        function scrollToBottom() {
            const scrollHeight = document.body.scrollHeight;

            window.scrollTo(0, scrollHeight);
        }

        const editorElement = document.getElementById('editor');


        const editor = CodeMirror.fromTextArea(editorElement, {
            lineNumbers: true,
            mode: "python",
            theme: "dracula",
            viewportMargin: Infinity,
            lineWrapping: true,
            indentWithTabs: true,
            tabSize: 4,
            autoCloseBrackets: true,
            matchBrackets: true,
            smartIndent: true,
            styleActiveLine: true,
            lint: true,
            highlightSelectionMatches: { showToken: /\w/ },
        });
        // Add keyboard shortcuts
        editor.setSize(null, "550px");  // Set the height to 500px

        editor.setOption("extraKeys", {
            "Ctrl-Space": "autocomplete", // Trigger autocomplete on Ctrl + Space
            "Ctrl-Enter": function () {
                const code = editor.getValue();
                sendCodeForExecution(code); // Call function to execute code
            },
            "Tab": function (cm) {
                if (cm.somethingSelected()) {
                    cm.indentSelection("add");
                } else {
                    cm.replaceSelection("    "); // Replace Tab with spaces
                }
            }
        });



        document.querySelectorAll('.file-button').forEach(button => {
            button.addEventListener('click', function () {
                const content = this.getAttribute('data-content');  // Get the data-content attribute
                const file_id = this.dataset.file_id
                editor.setValue(content);  // Assuming `editor` is your code editor instance
                editorElement.dataset.file_id = file_id
                console.log(editorElement.dataset.file_id)
            });
        });


        const saveCode = () => {
            const code = editor.getValue();
            document.getElementById('codeInput').value = code;
            document.getElementById('coe_file_input').setAttribute('value', editorElement.dataset.file_id)
            document.getElementById('codeForm').submit();
        };


        const loadCode = () => {
            const savedCode = localStorage.getItem('savedCode');
            if (savedCode) {
                editor.setValue(savedCode);
            }
        };


        document.getElementById('save-code').addEventListener('click', saveCode);


        // let isDracula = true;

        // document.getElementById('theme-toggle').addEventListener('click', () => {
        //     isDracula = !isDracula;
        //     editor.setOption("theme", isDracula ? "dracula" : "default");
        // });
        const themeSelector = document.getElementById('theme-selector');
        themeSelector.addEventListener('change', () => {
            console.log('selector: ', themeSelector.value)
            const selectedTheme = themeSelector.value;
            editor.setOption('theme', selectedTheme);
        });

        // Load code when the page loads
        window.onload = loadCode;


        const btn = document.getElementById('run-code');
        const roomName = "{{room_name}}";

        const socket = new WebSocket('ws://' + window.location.host + '/ws/ac/' + roomName + '/');
        let isLocalChange = false; // Flag to check if the change is local

        let taskId = null
        socket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log('Message received from server:', data);

            const output = data.message;
            const taskIdReceived = data.task_id;


            if (taskIdReceived) {
                taskId = taskIdReceived;
            }
            // console.log('task id is : ', taskId)
            // console.log('taskIdReceived id is : ', taskIdReceived)
            // console.log('Output : ', output)




            if (output === 'Processing...') {
                setTimeout(function () {
                    socket.send(JSON.stringify({ 'task_id': taskId }));
                }, 100);
            } else {
                console.log('Output is not Processing....', output)
                document.getElementById('output').innerText = output;
                if (data.coding_by) {
                    console.log(data)
                    const now_coding = document.getElementById(data.coding_by)
                    now_coding.classList.replace('j', 'now-coding')
                    // document.getElementById('x').innerText = `Now Coding: ${data.coding_by}`;
                }
                else {
                    document.getElementById('executed-by').innerText = `Executed by: ${data.code_executed_by}`;
                    scrollToBottom()

                }
            }


            if (data.raw_code && !isLocalChange) {
                const cursorPos = editor.getCursor()
                isLocalChange = true;
                editor.setValue(data.raw_code);
                editor.setCursor(cursorPos);
                isLocalChange = false;
            }
        };

        socket.onclose = function (e) {
            console.error('WebSocket closed unexpectedly');
        };

        let debounceTimer;

        editor.on('change', function () {
            if (!isLocalChange) {
                clearTimeout(debounceTimer);
                const rawCode = editor.getValue();
                const coding_by = editorElement.dataset.user;

                debounceTimer = setTimeout(() => {
                    socket.send(JSON.stringify({
                        'raw_code': rawCode,
                        'coding_by': coding_by
                    }));
                }, 1000); // Wait 300ms after the user stops typing
            }
        });


        btn.addEventListener('click', function () {
            const code = editor.getValue();
            const code_executed_by = btn.dataset['executed'];
            const inputs = document.getElementById('inputs').value
            console.log(inputs.value)
            sendCodeForExecution(code, code_executed_by, inputs);
        });

        function sendCodeForExecution(code, code_executed_by, inputs) {
            socket.send(JSON.stringify({
                'code': code,
                'code_executed_by': code_executed_by,
                'inputs': inputs
            }));
        }
    </script>

    <script>

        function foo() {
            const elements = document.querySelectorAll('.now-coding');
            elements.forEach(element => {
                console.log(element);

                element.classList.replace('now-coding', 'j');
            });

            console.log('Class replacement happened:', elements);

            setTimeout(foo, 10000);
        }
        foo();
        document.getElementById('inputs').setAttribute('placeholder', "input1 \ninput2 \n.....")
    </script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.umd.min.js"></script>

</body>

</html>